                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                    scroll-behavior: smooth;
                }
                
                header {
                    background-color: #FFBF69;
                }
                
                header label {
                    display: none;
                    font-size: 25px;
                    height: 40px;
                    width: 40px;
                    padding: 5px;
                }
                
                header label:hover {
                    cursor: pointer;
                    background-color: #FF9F1C;
                }
                
                header input {
                    display: none;
                }
                /* Menu de navegacion*/
                
                .logo {
                    width: 120px;
                    padding-left: 10px;
                }
                
                .nav_bar ul {
                    list-style: none;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                }
                
                .nav_bar li {
                    padding: 15px 0;
                    text-align: center;
                    flex-grow: 1;
                }
                
                .nav_bar li:last-child {
                    cursor: pointer;
                    color: #47525E;
                    flex-grow: 3;
                }
                
                .nav_bar li a {
                    display: block;
                    font-size: 25px;
                    padding: 14px 16px;
                    color: #47525E;
                    text-decoration: none;
                    font-weight: 900;
                    font-family: 'Lato', sans-serif;
                }
                
                .activa {
                    background-color: #FF9F1C;
                }
                
                .enlaces:hover {
                    background-color: #FF9F1C;
                }
                /* Fin Menu de navegacion*/
                
                .container_principal {
                    display: flex;
                    margin: 30px;
                    position: relative;
                    padding: 20px;
                    border-radius: 30px;
                    border: 20px solid rgba(255, 209, 133, 0.20);
                    background-color: white;
                }
                
                .container_principal2 {
                    margin: 30px;
                    padding: 20px;
                    border-radius: 30px;
                    border: 20px solid rgba(255, 209, 133, 0.20);
                    background-color: white;
                }
                
                .container_imagen {
                    position: relative;
                    box-sizing: border-box;
                    width: 50%;
                    padding: 0 70px;
                    background-color: white;
                }
                
                .imagen_svg {
                    width: 500px;
                    position: absolute;
                    bottom: -20%;
                }
                /*animaciones svg*/
                
                #bubble1 {
                    animation-name: movimiento;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble2 {
                    animation-name: movimiento;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble3 {
                    animation-name: movimiento_naranjas;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble4 {
                    animation-name: movimiento;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble5 {
                    animation-name: movimiento;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble6 {
                    animation-name: movimiento;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble7 {
                    animation-name: movimiento_naranjas;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                #bubble8 {
                    animation-name: movimiento8;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                    animation-timing-function: linear;
                }
                
                @keyframes movimiento {
                    0% {
                        transform: translateY(0);
                    }
                    25% {
                        transform: translateY(20px);
                    }
                    50% {
                        transform: translateY(0);
                    }
                    75% {
                        transform: translateY(-15px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                
                @keyframes movimiento_naranjas {
                    0% {
                        transform: translateY(0);
                    }
                    25% {
                        transform: translateY(-20px);
                    }
                    50% {
                        transform: translateY(0);
                    }
                    75% {
                        transform: translateY(15px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                
                @keyframes movimiento8 {
                    0% {
                        transform: translateY(0);
                    }
                    25% {
                        transform: translateY(-15px);
                    }
                    50% {
                        transform: translateY(0);
                    }
                    75% {
                        transform: translateY(15px);
                    }
                    100% {
                        transform: translateY(0);
                    }
                }
                /*finalizacion animacion*/
                
                .icono_perfil {
                    font-size: 30px;
                    margin-left: 20px;
                }
                
                .container_inc {
                    width: 50%;
                    padding: 70px;
                    z-index: 1;
                }
                
                .titulo {
                    font-family: 'Chewy', cursive;
                    font-size: 70px;
                    text-align: center;
                    color: #47525E;
                }
                
                .texto_inicio {
                    font-family: 'Lato', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    color: #47525E;
                }
                
                .div_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                button {
                    font-family: 'Lato', sans-serif;
                    margin-top: 5px;
                    position: relative;
                    font-size: 20px;
                    font-weight: 700;
                    color: #47525E;
                    padding: 5px 25px;
                    cursor: pointer;
                    background: none;
                    border: 2px solid black;
                    transition: color 0.4 linear;
                }
                
                button::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: #FF9F1C;
                    z-index: -1;
                    transition: transform 0.5s;
                    transform-origin: 0 0;
                    transition-timing-function: cubic-bezier(0, 5, 1, 6, 0.4, 0.7);
                }
                
                .btn_iniciar::before {
                    transform: scaleX(0);
                }
                
                .btn_iniciar:hover::before {
                    transform: scaleX(1);
                }
                
                .modal-container {
                    position: fixed;
                    z-index: 1000;
                    width: 100%;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                .btn_form.tits {
                    color: #2EC4B6;
                }
                
                .modal-register {
                    width: 40%;
                    height: 50%;
                    background-color: white;
                    text-align: center;
                }
                /*           Formulario       */
                
                input,
                select,
                textarea,
                span {
                    border: none;
                    background: white;
                    box-sizing: border-box;
                    line-height: 12px;
                    outline: none;
                    padding: 0;
                    resize: none;
                    width: 275px;
                }
                
                .dv-placeholder {
                    margin-bottom: 10px;
                }
                
                .dv-placeholder label {
                    border: 2px solid silver;
                    display: inline-block;
                    padding: 10px;
                    position: relative;
                }
                
                .dv-placeholder span {
                    color: silver;
                    display: inline-block;
                    left: 2px;
                    padding: 5px;
                    position: absolute;
                    transition: 0.25s;
                    top: 9px;
                    width: auto;
                }
                
                .dv-placeholder label.focus {
                    border: 2px solid orange;
                }
                
                .dv-placeholder span.reubicar {
                    color: #FFBF69;
                    font-size: 12px;
                    top: -12px;
                }
                
                .btn_form {
                    width: 300px;
                    background-color: #2EC4B6;
                    color: white;
                    border: none;
                    border-radius: 10px;
                    padding: 15px;
                }
                /*QUIENES SOMOS*/
                
                .container_qs {
                    border-radius: 20px;
                    position: relative;
                    margin: auto;
                    margin-top: 60px;
                    width: 95%;
                    height: 100vh;
                    overflow: hidden;
                }
                
                .video_qs {
                    border-radius: 30px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .overlay {
                    border-radius: 30px;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.52);
                }
                
                .presentacion {
                    position: absolute;
                }
                
                .presentacion h2 {
                    text-align: center;
                    color: white;
                    font-family: 'Chewy', cursive;
                    font-size: 70px;
                    text-align: center;
                }
                
                .presentacion p {
                    display: block;
                    color: white;
                    text-align: center;
                    font-size: 3.5vh;
                }
                /*FINAL QUIENES SOMOS*/
                /*Como usar*/
                
                .listado {
                    list-style: none;
                }
                
                .fa-dumbbell {
                    margin: 10px;
                    font-size: 30px;
                }
                
                .svg_comousar {
                    width: 30%;
                    height: 30%;
                    padding-top: 20px;
                    display: block;
                    margin: auto;
                }
                /*FINAL COMO USAR*/
                /*Perfil*/
                
                .nav_bar2 {
                    padding: 15px 15px 0px 15px;
                }
                
                .nav_bar2 ul {
                    list-style: none;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                }
                
                .nav_bar2 li {
                    padding: 15px 0;
                    text-align: center;
                    flex-grow: 1;
                }
                
                .activanuevarut {
                    background-color: darkslategrey;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }
                .actiarutinas{
                    background-color: white;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                    
                }
                .txtblanco{
                    color: white;
                }
                .divnuevarutina{
                    display: flex;
                    height: 40vh;
                    padding: 0px 15px 0px 0px;
                }
                .agrrutina{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .txtrutina{
                    width: 50%;
                    height: 100%;
                }
                .btnagrrutina{
                    width: 35%;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    height: 90%;
                    background-color: white;
                    margin: auto;
                    border: 10px solid gray;
                    border-radius: 15px;
                }
                .imagen_perf {
                    position: absolute;
                    display: block;
                    z-index: -9;
                    width: 100%;
                    padding: 0 15px 0px 15px;
                    height: 42%;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 20px;
                    object-fit: cover;
                }
                .liagregarrutina{
                    cursor: pointer;
                }
                .liverrutinas{
                    cursor: pointer;
                }
                .divrutinas{
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    grid-auto-rows: 200px;
                    grid-gap: 100px;
                    height: 47vh;
                    background-color: white;
                    padding-top: 40px;
                    padding-left: 80px;
                    padding-right: 40px;
                }
                .item_rutina{
                    height: 250px;
                    width: 200px;
                    cursor: pointer;
                    border: 10px solid rgba(156, 156, 156,0.5);
                    border-radius: 15px;
                    background-image: url(../imagenes/dumbbell-ga97b4aa6f_1280.jpg);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .texto_rutinas{
                    color: white;
                    font-weight: 700;
                    font-size: 40px;

                }
                .no_mostrar{
                    display: none;
                }
                .modalCrearRutina{
                    position: absolute;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    background-color: black;
                    z-index: 99;
                    display: grid;
                    grid-template-columns: repeat(2,1fr);
                    grid-auto-rows: 200px;
                    grid-gap: 50px;
                    padding: 100px 50px ;
                }
                .divModalCrear{
                    height: fit-content;
                    border-radius: 20px;
                    padding: 70px 20px 20px 20px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .divModalCrear h2{
                    padding-bottom: 20px;
                }
                .divModalCrear p{
                    text-align: center;
                display: block;
                width: 60%;
                }
                .inputrutinas{
                    width: 300px; border: 1px solid black;
                    height: 40px;
                    padding: 5px;
                    display: block;
                    border-radius: 5px;
                    margin: 10px;
                }
                .fa-times-circle{
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    font-size: 50px;
                    color: white;
                    cursor: pointer;
                }
                .divdescrutina{
                    border: 10px solid gray;
                    border-radius: 20px;
                    padding: 20px;
                }
                
                /*FINAL PERFIL*/    
                /*PAGINA RUITNA*/

                .colorFondo{
                    background-color: #4F5C69;
                    padding:30px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .tituloComencemos{
                    color: white;
                    font-size: 80px;
                    margin-bottom: 50px;
                }
                .divtiempo{
                    width: 80%;
                    border-radius: 20px;
                    padding: 30px;
                    background-color: white;
                }
                .divtiempo h1{
                    color: #47525E;
                    font-size: 80px;
                    text-align: center;
                }
                .divtiempo h3{
                    color: #47525E;
                    font-size: 30px;
                    text-align: center;
                    margin-top: 15px;
                }
                .divmuestraejerc{
                    margin-top: 45px;
                    padding: 30px;
                    width: 60%;
                    display: flex;
                    border-radius: 20px;
                    background-color: white;
                }
                .divmuestraejerc h3{
                    color: #47525E;
                    font-size: 30px;
                }
                .divmuestraejerc div{
                    padding-right:40px;
                    padding-left:40px;
                    padding-top: 40px;
                }
                /*FINAL PAGINA RUTINA*/
                /*MENU RESPONSIVE*/
                
                @media (max-width:768px) {
                    header label {
                        display: block;
                    }
                    .logo {
                        width: 120px;
                    }
                    .nav_bar {
                        position: absolute;
                        background-color: #FFBF69;
                        width: 100%;
                        margin-left: -100%;
                        transition: all 0.5s;
                        z-index: 999;
                    }
                    .nav_bar ul {
                        flex-direction: column;
                    }
                    .nav_bar li {
                        border-top: 1px solid white;
                    }
                    #btn-menu:checked~.nav_bar {
                        margin: 0;
                    }
                    .container_principal {
                        height: 100vh;
                        padding: 0;
                    }
                    .container_inc {
                        width: 100%;
                        position: absolute;
                        padding: 0;
                        text-align: center;
                    }
                    .texto_inicio {
                        font-size: 18px;
                    }
                    .svg_comousar,
                    .imagen_svg {
                        display: none;
                    }
                    .presentacion p {
                        font-size: 16px;
                    }
                }
                
                @media (max-width:420px) {
                    header label {
                        display: block;
                    }
                    .logo {
                        width: 120px;
                    }
                    .nav_bar {
                        position: absolute;
                        background-color: #FFBF69;
                        width: 100%;
                        margin-left: -100%;
                        transition: all 0.5s;
                        z-index: 999;
                    }
                    .nav_bar ul {
                        flex-direction: column;
                    }
                    .nav_bar li {
                        border-top: 1px solid white;
                    }
                    #btn-menu:checked~.nav_bar {
                        margin: 0;
                    }
                    .container_principal {
                        height: 100vh;
                        padding: 0;
                    }
                    .container_inc {
                        width: 100%;
                        position: absolute;
                        padding: 0;
                        text-align: center;
                    }
                    .titulo {
                        font-size: 45px;
                    }
                    .texto_inicio {
                        font-size: 16px;
                    }
                    .svg_comousar,
                    .imagen_svg {
                        display: none;
                    }
                    .btn_iniciar {
                        font-size: 14px;
                    }
                    .presentacion h2 {
                        font-size: 45px;
                    }
                    .presentacion p {
                        font-size: 12px;
                    }
                }